<html xmlns:th="http://www.thymeleaf.org">
	<Head>
		<meta charset= "utf-8" />
		<meta name = "viewport" content = "width=devie-widht, initial-scale=1" />
		<meta name = "description" content = "JavaScript ToDoアプリケーション 初めてのアプリケーション作成"/>
		<title>タイトル</title>
		<link rel = "stylesheet" href = "style.css" />
		<script src = "todo.js" defer></script>
	</Head>
	
	    <body>
        <header>
            <h1>DBテスト</h1>
        </header>
        <main>
        	<form action = "/db" method = "post">
				<input type = "text" name = "test">
				</br>
				<input type = "submit" value = "送信">
			</form>
			
			<ui>
				<li></li>
				
				
			</ui>
			
			
			
        </main>
        
        
        <footer>
        </footer>

    </body>
	
	
</html>