<html xmlns:th="http://www.thymeleaf.org">
	<Head>
		<meta charset= "utf-8" />
		<meta name = "viewport" content = "width=devie-widht, initial-scale=1" />
		<meta name = "description" content = "JavaScript ToDoアプリケーション 初めてのアプリケーション作成"/>
		<title>タイトル</title>
		<link rel = "stylesheet" href = "style.css" />
		<script src = "todo.js" defer></script>
	</Head>
	
	    <body>
        <header>
            <h1>DBテスト</h1>
        </header>
        <main>
        	<form action = "/db" method = "post">
				<input type = "text" name = "test">
				</br>
				<input type = "submit" value = "送信">
			</form>
			
			
			<table border="1">
				<tr>
					<th>ID</th>
					<th>test</th>
					<th>kazu</th>
					<th>削除</th>
					<th>更新</th>
				</tr>
					
				

					<tr th:each = "list:${lists}">
						<!--<td><input type = "text" name = "id" th:value = "${list.id}"/> <td>-->
						<td th:text="${list.id}"></td>
						<td th:text = "${list.test}"></td>
						<td th:text = "${list.kazu}"></td>
						<form action = "#" th:action = "@{'/delete/'+ ${list.id}}" method = "post">
						<td><input type = "submit" value = "delete"></td>
						</form>	
						<form action = "#" th:action = "@{'/update/' + ${list.id}}" method = "get">
						<td><input type = "submit" value = "update"></td>
						</form>
					</tr>
				</table>
			
		
        </main>
        
        
        <footer>
        </footer>

    </body>
	
	
</html>